@if (IsLoading)
{
    <button class="btn btn-success" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Saving...
    </button>
}
else
{
    <button type="submit" class="btn btn-success">Save</button>
}

@code {

    [Parameter]
    public bool IsLoading { get; set; } = false;



}
