@using MenuPlanner.Shared.models.enums
@using MenuPlanner.Shared.models

<div class="form-group">
    <label>Category</label>
    <select class="form-control" @bind="Ingredient.Category">
        @foreach (IngredientCategory ingredientCategory in Enum.GetValues<IngredientCategory>())
        {
            <option>@ingredientCategory</option>
        }
    </select>
</div>

@code {

    [Parameter]
    public Ingredient Ingredient { get; set; }

    public bool IsHidden(IngredientCategory ingredientCategory)
    {
        return ingredientCategory.Equals(IngredientCategory.Unknown);
    }

}
