@using MenuPlanner.Shared.models.enums
@using System.Diagnostics
@using MenuPlanner.Shared.models
@using Microsoft.Data.SqlClient

<div class="form-group">
    @foreach (TimeOfDay timeOfDay in Enum.GetValues<TimeOfDay>())
    {
            <div class="form-check form-check-inline" hidden="@IsHidden(timeOfDay)" >
                <input class="form-check-input" type="checkbox" checked="@IsChecked(timeOfDay)" @onclick="@(() => UpdateTimeOfDay(timeOfDay))">
                <label class="form-check-label">@(timeOfDay.ToString())</label>
            </div>
       
    }
</div>


@code {

    [Parameter]
    public Menu Menu { get; set; }

    public bool IsHidden(TimeOfDay timeOfDay)
    {
        return timeOfDay.Equals(TimeOfDay.Unknown);
    }

    public bool IsChecked(TimeOfDay timeOfDay)
    {
        var ret = Menu.TimeOfDay.HasFlag(timeOfDay) || IsHidden(timeOfDay);
        return ret;
    }

    public void UpdateTimeOfDay(TimeOfDay timeOfDay)
    {
        Menu.TimeOfDay |= timeOfDay;
    }

}
