@page "/editMenu/{Id:guid}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using MenuPlanner.Shared.models
@inject NavigationManager NavigationManager
@inject HttpClient Http
@attribute [Authorize]

<h3>Edit Menu</h3>

@if (menu == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <EditForm Model="@menu" OnValidSubmit="@UpdateMenu">
            <DataAnnotationsValidator />
            <Microsoft.AspNetCore.Components.Forms.ValidationSummary />

            <div class="form-group">
                Name: <InputText id="name" @bind-Value="menu.Name" class="form-control" />
            </div>

            <div class="form-group">
                Description: <InputText id="description" @bind-Value="menu.Description" class="form-control" />
            </div>

            <br />

            <button type="submit" class="btn btn-success">Update</button>
        </EditForm>
    </div>
    <br />
    <br />
    <a href="/MenuList">Back to List</a>
}



@code {

    [Parameter]
    public Guid? Id { get; set; }

    private Menu menu;

    protected override async Task OnInitializedAsync()
    {

        if (Id == null)
        {
            NavigationManager.NavigateTo("MenuLists");
        }

        try
        {
            var response = await Http.GetAsync($"api/Menus/{Id}");
            if (response.IsSuccessStatusCode)
            {
                var foundMenu = await response.Content.ReadFromJsonAsync<Menu>();
                menu = new Menu
                {
                    Name = foundMenu.Name,
                    Description = foundMenu.Description
                };
            }
            else
            {
                NavigationManager.NavigateTo("MenuList");
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }


    private async Task UpdateMenu()
    {
        Menu m = new Menu()
        {
            MenuId = Id.Value,
            Name = menu.Name,
            Description = menu.Description
        };

        try
        {
            await Http.PutAsJsonAsync<Menu>($"api/Menus/Edit/{Id}", m);
            NavigationManager.NavigateTo("MenuList");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }



}

