@using MenuPlanner.Shared.models

<div class="card m-2" style="width: 22rem">
    <Carousel Id="@Menu.Id"></Carousel>

    <div class="card-body" style="transform: rotate(0);">
        <a href="ShowMenu/@Menu.Id" class="text-warning stretched-link"></a>
        <h5 class="card-title">@Menu.Name</h5>
        <StarRating Menu="@Menu" IsEditable="false"></StarRating>
        <p class="card-text">@Menu.Description</p>
    </div>

    <AuthorizeView>
        <Authorized>
            <div class="card-footer"><a href="AddEditDeleteMenu/@Menu.Id" class="btn btn-info">Edit</a></div>
        </Authorized>
    </AuthorizeView>

</div>

@code {

    [Parameter]
    public Menu Menu { get; set; }

}
