<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/dandevaud/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="dandevaud" />
            <add key="ClearTextPassword" value="44cbbdb57a9478434c3313f8337c9c5abf32a9a4" />
        </github>
    </packageSourceCredentials>
</configuration>