<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/dandevaud/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="dandevaud" />
            <add key="ClearTextPassword" value="b69a73b5030e8241904a4d83d7cccb67932419dc" />
        </github>
    </packageSourceCredentials>
</configuration>