@using MenuPlanner.Shared.models.enums
@using System.Diagnostics

<div class="form-group">
    @foreach (string name in Enum.GetNames(typeof(TimeOfDay)))
    {
            <div class="form-check form-check-inline" hidden="@IsHidden(name)" >
                <input class="form-check-input" type="checkbox" checked="@IsHidden(name)">
                <label class="form-check-label">@name</label>
            </div>
       
    }
</div>


@code {



    public static bool IsHidden(string name)
    {
        return name.Equals("unknown", StringComparison.CurrentCultureIgnoreCase);
    }

}
