@page "/"
@using MenuPlanner.Shared.models
@inject NavigationManager NavigationManager
@inject PublicClient PublicClient


<MenuSearch Results="@menus" ResultsChanged="@MenusChanged"></MenuSearch>
<AuthorizeView>
    <Authorized>
        <a href="/AddEditDeleteMenu/" class="btn btn-info" role="button">Add Menu</a>
    </Authorized>
</AuthorizeView>


<hr />

<h3>Menus</h3>

@if (menus == null)
{
    <p><em>Loading...</em></p>
}
else if (menus.Length == 0)
{
    <p><em>No menus found with current search</em></p>
}
else
{
    <div class="card-deck">

        @foreach (var menu in menus)
        {
            <MenuCard Menu="@menu"></MenuCard>
        }

    </div>
}

@code {

    private Menu[] menus;

    protected override async Task OnInitializedAsync()
    {
        await GetMenus();
    }

    public async Task GetMenus()
    {
        menus = await PublicClient.Client.GetFromJsonAsync<Menu[]>("api/Menus");
        foreach (var menu in menus)
        {
            LazyLoadImages(menu);
        }
    }

    private void MenusChanged(Menu[] menusChanged)
    {
        menus = menusChanged;
        StateHasChanged();
    }

    public async void LazyLoadImages(Menu menu)
    {
        menu.Images = await PublicClient.Client.GetFromJsonAsync<List<Image>>($"api/Menus/Images/{menu.MenuId}");
        StateHasChanged();
    }


}

