@page "/menuList"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using MenuPlanner.Shared.models
@inject NavigationManager NavigationManager
@inject HttpClient Http
@attribute [Authorize]


<a href="/AddEditMenu/" class="btn btn-info">Add Menu</a>
<button class="btn btn-primary" type="button" @onclick="FilterToggle">Filter</button>

<div class="@collapse">
    <br />
    <div class="card card-body">
        <MenuFilter Filter="FilterMenu"></MenuFilter>
    </div>
</div>

<hr />

<h3>Menus</h3>

@if (menus == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="card-deck">

        @foreach (var menu in menus)
        {
            <MenuCard Menu="@menu"></MenuCard>
        }

    </div>
}

@code {
    private Menu[] menus;

    private string collapse = "collapse";

    private string previousFilter = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await GetMenus();
    }

    public async Task GetMenus()
    {
        try
        {
            menus = await Http.GetFromJsonAsync<Menu[]>("api/Menus");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    public async Task DeleteMenu(Guid id)
    {
        //TODO: add confirmation dialog
        bool confirm = true;
        if (confirm)
        {
            var response = await Http.DeleteAsync($"api/Menus/{id}");

            if (response.IsSuccessStatusCode)
            {
                //var responseText = await response.Content.ReadAsStringAsync();
                await GetMenus();
            }
            else
            {
                //NavigationManager.NavigateTo("MenuList");
            }
        }
    }

    public void FilterToggle()
    {
        if (collapse == "collapse")
        {
            collapse = "collapse show";
        }
        else
        {
            collapse = "collapse";
        }
    }

    private async Task FilterMenu(string filter)
    {
        if (filter != previousFilter)
        {
            if (filter != string.Empty)
            {
                // to avoid uneeded requests and at least show one result
                if (menus.Length > 1 || filter.Length < previousFilter.Length)
                {
                    menus = await Http.GetFromJsonAsync<Menu[]>($"api/Menus/Filter?contains={filter}");
                }
            }
            else
            {
                menus = await Http.GetFromJsonAsync<Menu[]>("api/Menus");
            }
            previousFilter = filter;
        }
    }

}

