@using MenuPlanner.Shared.models.enums
@using MenuPlanner.Shared.models
<div class="form-group">
   @Quantity.QuantityValue @Quantity.Unit
</div>


@code {

    [Parameter]
    public Quantity Quantity { get; set; }

}
