@using MenuPlanner.Shared.models

<div class="form-group">
    @MenuIngredient.Quantity.QuantityValue @MenuIngredient.Quantity.Unit
</div>


@code {

    [Parameter]
    public MenuIngredient MenuIngredient { get; set; }

}
