@using MenuPlanner.Shared.models.enums
@using MenuPlanner.Shared.models
<div class="form-group">
    <label>Quantity</label>
    <input type="text" class="form-control" @bind-value="Quantity.QuantityValue">
</div>
<div class="form-group">
    <label>Unit</label>
    <select class="form-control" @bind="Quantity.Unit">
        @foreach (var unit in Enum.GetValues(typeof(UnitEnum)))
        {
            <option value="@unit">@unit.ToString()</option>
        }
    </select>
</div>

@code {

    [Parameter]
    public Quantity Quantity { get; set; }

    [Parameter]
    public EventCallback<Quantity> QuantityChanged { get; set; }

}
