@using MenuPlanner.Shared.models.enums
@using MenuPlanner.Shared.models
@using System.ComponentModel
@using System.Dynamic
@using MenuPlanner.Shared.Extension
<div class="form-group">
    <label>Quantity</label>
    <input type="number" min="0.0" step="any" class="form-control" @bind-value="Quantity.QuantityValue">
</div>
<div class="form-group">
    <label>Unit</label>
    <select class="form-control" @bind="Quantity.Unit">
        @foreach (var unit in Enum.GetValues<UnitEnum>())
        {
            <option value="@unit">@unit.GetDescription()</option>
        }
    </select>
</div>

@code {

    [Parameter]
    public Quantity Quantity { get; set; }

    [Parameter]
    public EventCallback<Quantity> QuantityChanged { get; set; }
    

}
