@using Microsoft.EntityFrameworkCore.Internal
@using MenuPlanner.Shared.models
@typeparam TEnum

<div class="form-group">
    @foreach (TEnum timeOfDay in Enum.GetValues<TEnum>())
    {
        <div class="form-check form-check-inline" hidden="@IsHidden(timeOfDay)">
            <input class="form-check-input" type="checkbox" checked="@IsChecked(timeOfDay)" @onclick="@(() => UpdateTimeOfDay(timeOfDay))">
            <label class="form-check-label">@(timeOfDay.ToString())</label>
        </div>

    }
</div>

